.error-404 {
    margin: 0px auto;
    width: 70%;
    text-align: center;
}
.error-404 h2 {
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -moz-text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    -webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    margin-top: 7px;
    /* margin: 0px 0px 10px 0px; */
    padding: 15px 0px;
    border-top: solid 3px #ccc;
    border-bottom: solid 3px #ccc;
    color: #ff9606;
}
.page-404 {
    float: left;
    width: 100%;
    margin: 0px 0px 30px 0px;
}
.page-404 p {
    font-size: 130px;
    font-weight: bold;
    color: #ff9606;
    margin-top: 20px;
}
.page-404 span {
    font-size: 21px;
    content: #fff;
    font-weight: bold;
    margin-top: -150px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 50%;
    text-transform: uppercase;
    color: #000;
    line-height: 60px;
}
.error-404 > p {
    margin-top:300px;
    /* margin: 20px 0px 10px 0px; */
    font-size: 21px;
}
.error-404 a.go-back {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border: solid 1px;
    color: #333;
    transition: all 0.3s ease-in-out;
    color: #ff9606;
    border-color: #ff9606;
}
.error-404 a.go-back:hover {
    color: #fff !important;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    background-color: #ff9606;
}

@media screen and (min-width: 770px) {

	.error-404 {
        padding: 30px 0px 80px 0px;
    }
    .error-404 h2 {
        font-size: 60px;
    }
    .page-404 { 
        position: relative; 
    }
    .page-404 p {
        font-size: 350px;
        line-height: 300px;
        margin-bottom: 100px;
        
    }
    .page-404 span {
        font-size: 48px; 
        background-color: rgba(255, 255, 255, 0.776);
        margin: -60px 0px 0px 0px;
    }
    .error-404 > p {
        font-size: 30px;
    }
    .error-404 a.go-back {
        font-size: 20px;
    }

}